extends layout.pug

block content
    table(class="table table-striped")
        thead(class="thead-inverse")
            tr
                th #
                th Name
                th Nicotine Level (mg/ml)
                th Patient Since
                th Date of Birth
                th Age
                th Active
        tbody
            each doctor in doctors
                each patient, index in doctor.patients
                    tr
                        th(scope="row") #{index+1}
                        td(onclick=`window.document.location="/profile/${patient.id}"` style="cursor: pointer;") #{patient.name}
                        td
                            div(class="dropdown")
                                button(class="btn dropdown-toggle" type="button" data-toggle="dropdown") #{patient.nicotineLevel}
                                    span(class="caret")
                                ul(class="dropdown-menu")
                                    li(class="dropdown-header") Descrease
                                    - for (var x = patient.nicotineLevel-1; x > patient.nicotineLevel-4; x--) {
                                    -   if (x >= 0) {
                                    li
                                        a(href="#" onclick="update(this)") #{x}
                                    -   }
                                    - }
                                    li(class="divider")
                                    li(class="dropdown-header") Increase
                                    - for (var x = patient.nicotineLevel+1; x < patient.nicotineLevel+4; x++) {
                                    -   if (x <= 24) {
                                    li
                                        a(href="#" onclick="update(this)") #{x}

                                    -   }
                                    - }
                        - function randomDate(start, end) {
                        -   return new Date(start.getTime() + Math.random() * (end.getTime() - start.getTime()));
                        - }
                        - function formatDate(date) {
                        -   var year = date.getFullYear();
                        -   var month = date.getMonth()+1;
                        -   var dt = date.getDate();
                        -   if (dt < 10) {
                        -       dt = '0' + dt;
                        -   }
                        -   if (month < 10) {
                        -       month = '0' + month;
                        -   }
                        -   return year+"-"+month+"-"+dt;
                        - }
                        td #{formatDate(randomDate(new Date(2013, 0, 1), new Date()))}
                        - var dob = randomDate(new Date(1956, 0, 1), new Date(1996,0,1));
                        td #{formatDate(dob)}
                        - function calculateAge(birthday) {
                        -   var ageDifMs = Date.now() - birthday.getTime();
                        -   var ageDate = new Date(ageDifMs);
                        -   return Math.abs(ageDate.getUTCFullYear() - 1970);
                        - }
                        - function isActive() {
                        -   var active = Math.random() >= 0.5;    
                        -   if (active) {
                        -       return "check";
                        -   } else {
                        -       return "times";
                        -   }
                        - }
                        td #{calculateAge(dob)}
                        td
                            i(class=`fa fa-${isActive()}` aria-hidden="true")
